1. Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True

In [ ]:
def is_symmetrical(n):
  n = str(n)
  rev_n = n[::-1]
  if rev_n == n :
    return True
  else:
    return False

n1= 7227
n2 = 12567
n3 = 4444444
print(n1, "is symmetric ?",is_symmetrical(n1))
print(n2, "is symmetric ?",is_symmetrical(n2))
print(n3, "is symmetric ?",is_symmetrical(n3))

7227 is symmetric ? True
12567 is symmetric ? False
4444444 is symmetric ? True

2. Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20

In [ ]:
def multiply_nums(n):
  n = n.split(',')
  mul = 1
  for i in range(len(n)):
      mul = int(n[i]) * mul
  return mul

n1 = ("2,3")
n2 = ("1,2,3,4")
n3 = ("54,75,453,0")
n4 = ("10,-2")

print('Multiplication of {} is {}'.format(n1,multiply_nums(n1)))
print('Multiplication of {} is {}'.format(n2,multiply_nums(n2)))
print('Multiplication of {} is {}'.format(n3,multiply_nums(n3)))
print('Multiplication of {} is {}'.format(n4,multiply_nums(n4)))

Multiplication of 2,3 is 6
Multiplication of 1,2,3,4 is 24
Multiplication of 54,75,453,0 is 0
Multiplication of 10,-2 is -20

3. Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [ ]:
def square_digits(num):
    z = ''.join(str(int(i)**2) for i in str(num))
    return int(z)

n1 = 9119
n2 = 2483
n3 = 3212

print('Square of each digit {} is {}'.format(n1,square_digits(n1)))
print('Square of each digit {} is {}'.format(n2,square_digits(n2)))
print('Square of each digit {} is {}'.format(n3,square_digits(n3)))

Square of each digit 9119 is 811181
Square of each digit 2483 is 416649
Square of each digit 3212 is 9414

4. Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [ ]:
def setify(l):
    return list(set(l))

l1 = [1, 3, 3, 5, 5]
l2 = [4, 4, 4, 4]
l3 = [5, 7, 8, 9, 10, 15]
l4 = [3, 3, 3, 2, 1]

print('orignal list is  {} after removing duplicate {}'.format(l1,setify(l1)))
print('orignal list is  {} after removing duplicate {}'.format(l2,setify(l2)))
print('orignal list is  {} after removing duplicate {}'.format(l3,setify(l3)))
print('orignal list is  {} after removing duplicate {}'.format(l4,setify(l4)))

orignal list is  [1, 3, 3, 5, 5] after removing duplicate [1, 3, 5]
orignal list is  [4, 4, 4, 4] after removing duplicate [4]
orignal list is  [5, 7, 8, 9, 10, 15] after removing duplicate [5, 7, 8, 9, 10, 15]
orignal list is  [3, 3, 3, 2, 1] after removing duplicate [1, 2, 3]

5. Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6

In [ ]:
def mean(n):
  len_n = len(str(n))
  sum = 0
  mean = 1
  for i in str(n):
    sum = sum + int(i)
    mean = sum/len_n
  return round(mean)

n1 = 42
n2 = 12345
n3 = 666

print("mean of digit {} is {}".format(n1,mean(n1)))
print("mean of digit {} is {}".format(n2,mean(n2)))
print("mean of digit {} is {}".format(n3,mean(n3)))

mean of digit 42 is 3
mean of digit 12345 is 3
mean of digit 666 is 6