1. Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.
Examples
filter_list([1, 2, 3, &quot;a&quot;, &quot;b&quot;, 4]) ➞ [1, 2, 3, 4]
filter_list([&quot;A&quot;, 0, &quot;Edabit&quot;, 1729, &quot;Python&quot;, &quot;1729&quot;]) ➞ [0, 1729]
filter_list([&quot;Nothing&quot;, &quot;here&quot;]) ➞ []

In [ ]:
def return_integer(l):
  int_l = []
  for i in l:
    if(type(i) == int):
      int_l.append(i)
  return int_l

l1 = [1,2,3,'a','b',4]
l2 = ['A', 0, 'Edabit', 1729, 'Python', '1729']
l3 = ['Nothing', 'here']
print("Original list1 ", l1, "Integer List ", return_integer(l1))
print("Original list2 ", l2, "Integer List ", return_integer(l2))
print("Original list3 ", l3, "Integer List ", return_integer(l3))

Original list1  [1, 2, 3, 'a', 'b', 4] Integer List  [1, 2, 3, 4]
Original list2  ['A', 0, 'Edabit', 1729, 'Python', '1729'] Integer List  [0, 1729]
Original list3  ['Nothing', 'here'] Integer List  []

2. Given a list of numbers, create a function which returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [ ]:
def add_indexes(l):
  new_list = []
  for i in range(len(l)):
    #print(i,l[i])
    add_index = i+l[i]
    #print(add_index)
    new_list.append(add_index)
  return new_list

l1 = [0, 0, 0, 0, 0]
l2 = [1, 2, 3, 4, 5]
l3 = [5, 4, 3, 2, 1]
print("Original list1 ", l1, "after index addtions", add_indexes(l1))
print("Original list2 ", l2, "after index addtions", add_indexes(l3))
print("Original list3 ", l3, "after index addtions", add_indexes(l3))

Original list1  [0, 0, 0, 0, 0] after index addtions [0, 1, 2, 3, 4]
Original list2  [1, 2, 3, 4, 5] after index addtions [5, 5, 5, 5, 5]
Original list3  [5, 4, 3, 2, 1] after index addtions [5, 5, 5, 5, 5]

3. Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.
Examples
cone_volume(3, 2) ➞ 12.57
cone_volume(15, 6) ➞ 565.49
cone_volume(18, 0) ➞ 0

In [ ]:
import math
def cone_volume(h,r):
  c_vol = round((1/3) * math.pi * r*r*h,2)
  return c_vol

print("Cone Height and radius is 3 and 2 repectively","Cone volume is ", cone_volume(3,2))
print("Cone Height and radius is 15 and 6 repectively","Cone volume is ", cone_volume(15,6))
print("Cone Height and radius is 18 and 0 repectively","Cone volume is ", cone_volume(18,0))

Cone Height and radius is 3 and 2 repectively Cone volume is  12.57
Cone Height and radius is 15 and 6 repectively Cone volume is  565.49
Cone Height and radius is 18 and 0 repectively Cone volume is  0.0

4. This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.
Examples
triangle(1) ➞ 1
triangle(6) ➞ 21
triangle(215) ➞ 23220

In [ ]:
# Arithmetic progression
# formula N*(N+1)/2

def triangle(n):
    return n*(n+1)*0.5
n1 = 1
n2 = 6
n3 =215
print("The {}th triangle has {} dots ".format(n1,int(triangle(n1))))
print("The {}th triangle has {} dots ".format(n2,int(triangle(n2))))
print("The {}th triangle has {} dots ".format(n3,int(triangle(n3))))

The 1th triangle has 1 dots
The 6th triangle has 21 dots
The 215th triangle has 23220 dots

5. Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [ ]:
def missing_num(lst):
    total = sum([x for x in range(11)])
    sum_Of_list = sum(lst)
    return total - sum_Of_list

l1 = [1, 2, 3, 4, 6, 7, 8, 9, 10]
l2 = [7, 2, 3, 6, 5, 9, 1, 4, 8]
l3 =[10, 5, 1, 2, 4, 6, 8, 3, 9]

print("Missing value in list1", l1 ,"is " ,missing_num(l1))
print("Missing value in list1", l2 ,"is " ,missing_num(l2))
print("Missing value in list1", l3, "is " ,missing_num(l3))

Missing value in list1 [1, 2, 3, 4, 6, 7, 8, 9, 10] is  5
Missing value in list1 [7, 2, 3, 6, 5, 9, 1, 4, 8] is  10
Missing value in list1 [10, 5, 1, 2, 4, 6, 8, 3, 9] is  7