1. Create a function that takes an integer and returns a list from 1 to the given number, where:
1. If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the
number).
2. If the number cannot be divided evenly by 4, simply return the number.
Examples
amplify(4) ➞ [1, 2, 3, 40]
amplify(3) ➞ [1, 2, 3]
amplify(25) ➞ [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160,
17, 18, 19, 200, 21, 22, 23, 240, 25]

In [ ]:
def amplify(n):
  l = []
  for i in range(1,n+1):
    if (i%4!=0):
      l.append(i)
    else:
     l.append(i*10)
  return l

n1 = 4
n2 = 3
n3 = 25

print('n is {} and amplify list is {}'.format(n1,amplify(n1)))
print('n is {} and amplify list is {}'.format(n2,amplify(n2)))
print('n is {} and amplify list is {}'.format(n3,amplify(n3)))

n is 4 and amplify list is [1, 2, 3, 40]
n is 3 and amplify list is [1, 2, 3]
n is 25 and amplify list is [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21, 22, 23, 240, 25]

2. Create a function that takes a list of numbers and return the number that&#39;s unique.
Examples
unique([3, 3, 3, 7, 3, 3]) ➞ 7
unique([0, 0, 0.77, 0, 0]) ➞ 0.77
unique([0, 1, 1, 1, 1, 1, 1, 1]) ➞ 0

In [ ]:
def unique(l):
  for i in l:
    if(l.count(i) == 1):
       return i
l1 = [3, 3, 3, 7, 3, 3]
l2 = [0, 0, 0.77, 0, 0]
l3 = [0, 1, 1, 1, 1, 1, 1, 1]

print('List is {}, Unique value in list is {}'.format(l1,unique(l1)))
print('List is {}, Unique value in list is {}'.format(l2,unique(l2)))
print('List is {}, Unique value in list is {}'.format(l3,unique(l3)))

List is [3, 3, 3, 7, 3, 3], Unique value in list is 7
List is [0, 0, 0.77, 0, 0], Unique value in list is 0.77
List is [0, 1, 1, 1, 1, 1, 1, 1], Unique value in list is 0

3. Your task is to create a Circle constructor that creates a circle with a radius provided by an
argument. The circles constructed must have two getters getArea() (PIr^2) and
getPerimeter() (2PI*r) which give both respective areas and perimeter (circumference).

For help with this class, I have provided you with a Rectangle constructor which you can use
as a base example.
Examples
circy = Circle(11)
circy.getArea()
Should return 380.132711084365
circy = Circle(4.44)
circy.getPerimeter()
Should return 27.897342763877365

In [ ]:
class Circle():
    def __init__(self, r):
        self.radius = r

    def getArea(self):
        return round(self.radius**2*3.14)
    
    def getPerimeter(self):
        return round(2*self.radius*3.14)

circy = Circle(11)
print(circy.getArea())


circy = Circle(4.44)
print(circy.getPerimeter())

380
28

4. Create a function that takes a list of strings and return a list, sorted from shortest to longest.
Examples
sort_by_length([&quot;Google&quot;, &quot;Apple&quot;, &quot;Microsoft&quot;])
➞ [&quot;Apple&quot;, &quot;Google&quot;, &quot;Microsoft&quot;]
sort_by_length([&quot;Leonardo&quot;, &quot;Michelangelo&quot;, &quot;Raphael&quot;, &quot;Donatello&quot;])
➞ [&quot;Raphael&quot;, &quot;Leonardo&quot;, &quot;Donatello&quot;, &quot;Michelangelo&quot;]
sort_by_length([&quot;Turing&quot;, &quot;Einstein&quot;, &quot;Jung&quot;])
➞ [&quot;Jung&quot;, &quot;Turing&quot;, &quot;Einstein&quot;]
Notes
All test cases contain lists with strings of different lengths, so you won&#39;t have to deal with
multiple strings of the same length.

In [ ]:
def sort_by_length(l):
    return sorted(l, key = len)

l1 = ["Google", "Apple", "Microsoft"]
l2 = ["Leonardo", "Michelangelo", "Raphael", "Donatello"]
l3 = ["Turing", "Einstein", "Jung"]
print(sort_by_length(l1))
print(sort_by_length(l2) )
print(sort_by_length(l3) )

['Apple', 'Google', 'Microsoft']
['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']
['Jung', 'Turing', 'Einstein']

5. Create a function that validates whether three given integers form a Pythagorean triplet. The
sum of the squares of the two smallest integers must equal the square of the largest number to
be validated.

Examples
is_triplet(3, 4, 5) ➞ True
3² + 4² = 25
5² = 25
is_triplet(13, 5, 12) ➞ True
5² + 12² = 169
13² = 169
is_triplet(1, 2, 3) ➞ False
1² + 2² = 5
3² = 9
Notes
Numbers may not be given in a sorted order.

In [ ]:
def is_triplet(a,b,c):
    l = []
    l.extend((a,b,c))
    l = sorted(l)

    if l[0]**2 + l[1]**2 == l[2]**2:
        return True
    else:
        return False

print("3, 4, 5 is Triplet ? ", is_triplet(3, 4, 5))
print("13, 5, 12 is Triplet ? ",is_triplet(13, 5, 12))
print("1, 2, 3 is Triplet ? ", is_triplet(1, 2, 3))

3, 4, 5 is Triplet ?  True
13, 5, 12 is Triplet ?  True
1, 2, 3 is Triplet ?  False