1. Create a function that takes a list of non-negative integers and strings and return a new list
without the strings.
Examples
filter_list([1, 2, &quot;aasf&quot;, &quot;1&quot;, &quot;123&quot;, 123]) ➞ [1, 2, 123]

In [ ]:
def filter_list(l1):
  filter_l = []
  for i in l1:
    if (type(i) == str):
      pass
    if(type(i)==int):
      filter_l.append(i)
  return filter_l

l1 = [1, 2, 'aasf', '1', '123', 123]
filter_list(l1)

[1, 2, 123]

2. The &quot;Reverser&quot; takes a string as input and returns that string in reverse order, with the
opposite case.
Examples
reverse(&quot;Hello World&quot;) ➞ &quot;DLROw OLLEh&quot;

In [ ]:
def reverse(s):
  rev = ''
  count = len(s)-1
  while(count >=0):
    rev = rev + s[count]
    count = count - 1
  return rev.swapcase()

s = "Hello World"
print("Original string ", s)
print("Reverse string ", reverse(s))

Original string  Hello World
Reverse string  DLROw OLLEh

3. You can assign variables from lists like this:
lst = [1, 2, 3, 4, 5, 6]
first = lst[0]
middle = lst[1:-1]
last = lst[-1]
print(first) ➞ outputs 1
print(middle) ➞ outputs [2, 3, 4, 5]
print(last) ➞ outputs 6
With Python 3, you can assign variables from lists in a much more succinct way. Create
variables first, middle and last from the given list using destructuring assignment
(check the Resources tab for some examples), where:
first ➞ 1
middle ➞ [2, 3, 4, 5]
last ➞ 6

Your task is to unpack the list writeyourcodehere into three variables, being first,
middle, and last, with middle being everything in between the first and last element. Then
print all three variables.

In [ ]:
lst = [1, 2, 3, 4, 5, 6]
first ,*middle,last = lst
print("First",first,"Middle",middle,"Last",last)

First 1 Middle [2, 3, 4, 5] Last 6

4. Write a function that calculates the factorial of a number recursively.
Examples
factorial(5) ➞ 120
factorial(3) ➞ 6
factorial(1) ➞ 1
factorial(0) ➞ 1

In [ ]:
def fact(x):
  if(x == 0 or x==1):
    return 1
  else:
    return x * fact(x-1)

print("factorial of 5 is ",fact(5))
print("factorial of 3 is ",fact(3))
print("factorial of 1 is ",fact(1))

factorial of 5 is  120
factorial of 3 is  6
factorial of 1 is  1

5. Write a function that moves all elements of one type to the end of the list.
Examples
move_to_end([1, 3, 2, 4, 4, 1], 1) ➞ [3, 2, 4, 4, 1, 1]
Move all the 1s to the end of the array.
move_to_end([7, 8, 9, 1, 2, 3, 4], 9) ➞ [7, 8, 1, 2, 3, 4, 9]
move_to_end([&quot;a&quot;, &quot;a&quot;, &quot;a&quot;, &quot;b&quot;], &quot;a&quot;) ➞ [&quot;b&quot;, &quot;a&quot;, &quot;a&quot;, &quot;a&quot;]

In [ ]:
def move_to_end(l1,n):
  for i in range(len(l1)):
    if(l1[i]==n):
      l1.append(l1[i])
      l1.remove(l1[i])
  return l1

l1 = [1, 3, 2, 4, 4, 1]
l2 = [7, 8, 9, 1, 2, 3, 4]
l3 = ['a','a','a','b']
print("list 1 is ",l1, "moving to end '1'",move_to_end(l1,1))
print("list 2 is ",l2, "moving to end '9'",move_to_end(l2,9))
print("list 3 is ",l3, "moving to end 'a'",move_to_end(l3,'a'))

list 1 is  [3, 2, 4, 4, 1, 1] moving to end '1' [3, 2, 4, 4, 1, 1]
list 2 is  [7, 8, 1, 2, 3, 4, 9] moving to end '9' [7, 8, 1, 2, 3, 4, 9]
list 3 is  ['b', 'a', 'a', 'a'] moving to end 'a' ['b', 'a', 'a', 'a']